.travelog_review {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

.travelog_review_close {
    position: absolute;
    right: 2%;
    z-index: 5;
}