.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.modal_close {
    position: absolute;
    right: 2%;
    top: 0;
}

.modal_backdrop {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    opacity: 0.4;
}

.modal_content {
    background-color: white;
    width: 50%;
    padding: 15px;
    position: absolute;
    z-index: 10;
}