.travelog_login_container {
    width: 100%;
    height: 100vh;
    background-image: url('https://wallpapercave.com/wp/JYodMo6.jpg');
    background-size: 100% 100%;
    display: flex;
}

.travelog_login {
   padding: 10px;
   background-color: white;
   width: 400px;
   height: 400px;
   flex-direction: column;
}

.travelog_login form {
    width: 100%;
}

.travelog_login form section button {
    margin-right: 20px;
}

.travelog_login section {
    margin-bottom: 10px;
}