.App {
  height:100%;
  width:100%;
}

button {
  width: 100px;
  height: 50px;
  font-size: 12px;
  border: none;
  color: white;
}

input {
  width: 100%;
}

button.primary {
  background-color: blue;

}

button.success {
  background-color: green;
}

button.danger {
  background-color: red;
}